.btn,
.alm-load-more-btn {
  min-width: $button__width;
  min-height: $button__height;
  background-color: $color__link-hover;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 0px;
  transition: 0.3s ease;
  opacity: 1 !important;
  &:hover {
    color: $color__text;
    background-color: #f2bb17;
    cursor: pointer;
  }
  &__transparent {
    border: 1px solid $color__link-hover;
    background-color: transparent;
    &-green {
      border: 1px solid $color__main;
      color: $color__main;
      background-color: transparent;
      &:hover {
        color: $color__bright;
        background-color: $color__main;
      }
    }
  }
}

// WP BLOCK BUTTON
.wp-block-button__link {
  min-width: $button__width;
  min-height: $button__height;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  text-transform: uppercase;
  &:hover {
    color: $color__text;
    background-color: #f2bb17;
    cursor: pointer;
  }
}

// ajax-button
.video-category-main {
  .alm-placeholder {
    opacity: 0;
    display: none;
  }
  .alm-btn-wrap {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .alm-load-more-btn {
    border: none;
    background-color: #f2bb17 !important;
    text-indent: 0px !important;
  }
}
