.contact-cards {
  padding-top: 66px;
  background-color: $color__grey;
}
.contact-card__inner {
  max-width: 500px;
}
.contact-card {
  display: flex;
  &__uk {
    @media #{$breakpoint-sm-up} {
      justify-content: flex-end;
    }
  }
  &__address {
    min-height: 225px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: $color__bright;
    p {
      margin-bottom: 20px;
    }
  }
}
.contact-information {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  > h2 {
    text-align: center;
    margin-bottom: 50px;
  }
  &__inner {
    display: flex;
    justify-content: space-around;
    p {
      &:first-of-type {
        text-transform: uppercase;
        color: $color__main;
        font-weight: 500;
        font-size: 14px;
      }
      font-weight: 700;
    }
  }
}
.contact-main__inner {
  text-align: center;
}

// contact form
.contactForm {
  &__half {
    display: flex;
    label {
      display: flex;
      flex-direction: column;
    }
  }
}
