.events-landing-card {
  padding: 60px 0px 70px;
}
.events-main {
  .events-testimonials {
    padding-top: 30px;
    background-color: $color__bg;
    color: $color__bright;
    padding-bottom: 100px;
  }
}

// Single events
.single-event-main {
  padding-top: 120px;
}
