.insight-main {
  .latest-post {
    background-color: $color__grey;
    padding: 50px 0px;
  }
  .widget-area {
    padding: 50px 0px;
  }
  .explore-cat {
    justify-content: space-between;
    flex-wrap: wrap;
    > h2 {
      margin-bottom: 20px;
    }
    > a {
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      &:hover {
        cursor: default;
      }
      p {
        background-size: cover;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        font-size: 18px;
        position: relative;
        color: white;
        width: 230px;
        height: 150px;
        z-index: 10;
        font-weight: bold;
        &:hover {
          cursor: pointer;
          &:before {
            background: rgba(#0b132b, 1);
          }
        }
        &:before {
          z-index: 0;
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          background: rgba(#0b132b, 0.7);
          transition: 0.3s ease-in;
        }
        span {
          z-index: 100;
        }
      }
    }
  }
  .caseStudy {
    padding: 50px 0px;
  }
  .case__body {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px 25px;
    color: $color__bright;
    background-color: rgba(#0b132b, 0.8);
    @media #{$breakpoint-md-up} {
      width: 60%;
      height: 90%;
    }
    p,
    h2 {
      color: $color__bright;
      margin-bottom: 10px;
    }
    h2 {
      font-size: 20px;
      line-height: 25px;
      @media #{$breakpoint-md-up} {
        font-size: 25px;
      }
    }
    &-header {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      > a {
        margin-bottom: 20px;
      }
      .tag {
        margin-bottom: 30px;
      }
      .btn__wrapper {
        margin-top: auto;
      }
    }
  }
  .case__image {
    min-height: 420px;
    background-size: cover;
    position: relative;
  }
}
